body {
	background-color:#c2edce;
    
}

* {
	font-family: Arial;
}

.logo {
	margin-top: 10px;
	margin-left: -5px;
	height: 81px;
	width: 322px;
}

.container {
	height: 100%;
	width: 100%;
	min-width: 1300px;
	min-height: 600px;
}

.col1 {
	float: left;
	height: 100%;
	padding-right: 10px;
	padding-left: 10px;
	color: #524636;
}

.row {
	font-size: 12px;
	line-height: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
	background-color:#92bbbd;
    padding-bottom: 10px;
    padding-left: 10px;
}

.input{
    
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color:#92bbbd;
    padding-left: 10px;
}

.select {
	background-color: white;
	color: black;
	border: none;
}

.col2 {
	float: left;
	height: 100%;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	color: #524636;
	background-color:#f6f6f2;
}

.colorButton {
	height: 15px;
}

.colorwheelMenu {
	visibility: hidden;
	left: 62px;
	padding-left: 4px;
	position: absolute;
	bottom: -30px;
	z-index: 1;
	width: 160px;
	border: 2px solid black;
}

.colorwheelMenu item {
	color: black;
	height: 20px;
	width: 20px;
	margin-left: -4px;
	display: inline-block;
	cursor: pointer;
}

.submit {
	background-color: #f8d605;
	color: black;
	font-size: 14px;
	height: 20px;
}

#default {
	background-color: #b7b7b7;
	color: black;
	display: inline-block;
}

#help {
    background-color: #b7b7b7;
    color: black;
    display: inline-block;
}

#help ::hover:: after {
    content: attr(data-tooltip);
}

#clear {
	background-color: #990000;
	color: white;
	display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 30px;

    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height:100%;
    overflow: scroll;
    
}

#modal-btn {
    background-color: #E2953D;
    color: white;
    z-index: 2;
    display: inline-block;
}

.modal-content {
    position: relative;
    background-color:#92bbbd;
    color: black;
    padding: 20px;
    margin: auto;
    width:33%;
    text-align:center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}



.close-btn {
	float: right;
	color: lightgray;
	font-size: 24px;
	font-weight: bold;
}

.close-btn:hover {
	color: darkgray;
	cursor: pointer;
}


@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1};
     
    
    
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}




.php {
	z-index: 40;
	font-size: 40px;
}

#checkboxlist
{
    border:10px solid #ccc;
    width:300px;
    float: center;
    height: 15%;
    overflow-y: scroll;
    text-align:left;
/*    padding-left: 10px;*/

    
}

#checkboxlist label {
  display: block;
font-weight: normal;
}

#checkboxlist label:hover {
  background-color: #1e90ff;
}

#selectedList
{
    border:10px solid #ccc;
    width:300px;
    float: center;
    height: 15%;
    overflow-y: scroll;
    text-align:left;
/*    padding-left: 10px;*/

    
}

#selectedList label {
  display: block;
font-weight: normal;
}

#selectedList label:hover {
  background-color: #1e90ff;
  text-decoration: line-through;
}

